@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0F0D0D;
}

main {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #28a745;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.searchbar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5px;

}

.searchbar input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}


.searchbar button {
    background: greenyellow;
    font-weight: bold;
    border: none;
    padding: 13px;
    border-radius: 5px;
}

.searchbar button:hover{
    font-size: 1rem;
    transition: all 0.5s;
}

.profile {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.userImg {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

.userImg img {
    width: 110%;
    height: 110%;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 100%;
    overflow: hidden;
}

.userDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.userDetails p {
    font-size: 1rem;
    color: gray;
}


.userTwitter,
.userGithub {
    text-decoration: none;
    color: aqua;
}

.repos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;

}

.repos .repo {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.repos .repo h2 {
    color: #9ae17b;
}

.repos .repo p {
    color: rgb(192, 191, 191);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
max-width: 300px;

}

.pagination button{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: black;
    color: white;
}


.pagination button:hover {
    background-color: greenyellow;
    color: black;
    transition: all 0.5s;
}


@media (max-width:576px) {
    .searchbar {
        padding: 10px;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .repos {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .pagination {
        margin-bottom: 10px;
        background-color: black;
        color: white;
    }
}